In [11]:
import pandas as pd
import numpy as np
import datetime
from datetime import date, timedelta

In [12]:
url_linelist = 'https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/epidemic/linelist/linelist_deaths.csv'
df = pd.read_csv(url_linelist, dtype=str)
df.head(10)

,date,date_positive,date_dose1,date_dose2,vaxtype,state,age,male,bid,malaysian,comorb
0,2020-03-17,2020-03-12,NaN,NaN,NaN,Johor,34,1,0,1,1
1,2020-03-17,2020-03-14,NaN,NaN,NaN,Sarawak,60,1,0,1,1
2,2020-03-20,2020-03-11,NaN,NaN,NaN,Sabah,58,1,0,1,1
3,2020-03-21,2020-03-17,NaN,NaN,NaN,Kelantan,69,1,0,1,1
4,2020-03-21,2020-03-13,NaN,NaN,NaN,Melaka,50,1,0,1,1

In [21]:
df.date = pd.to_datetime(df.date, errors='coerce').dt.date
df.date_positive = pd.to_datetime(df.date_positive, errors='coerce').dt.date
df.date_dose2 = pd.to_datetime(df.date_dose2, errors='coerce').dt.date
df.date_dose2 = df.date_dose2.fillna(date.today()+timedelta(1)) # fill blank dates to compute full vax
df.head(10)

,date,date_positive,date_dose1,date_dose2,vaxtype,state,age,male,bid,malaysian,comorb
3828,2021-06-07,2021-06-04,2021-04-19,2021-05-10,Pfizer,W.P. Labuan,75,0,0,1,1
4216,2021-06-13,2021-06-10,2021-04-27,2021-05-18,Pfizer,Kelantan,65,0,0,1,1
5354,2021-06-27,2021-06-24,2021-05-18,2021-06-10,Pfizer,Perak,72,1,0,1,1
5478,2021-06-28,2021-06-24,2021-05-04,2021-05-25,Sinovac,W.P. Kuala Lumpur,92,1,0,1,1
5507,2021-06-29,2021-06-22,2021-05-07,2021-05-28,Sinovac,Perak,73,0,0,1,1
5686,2021-07-01,2021-06-29,2021-05-10,2021-05-31,Pfizer,Johor,77,1,0,1,1
5799,2021-07-02,2021-07-01,2021-05-04,2021-05-25,Pfizer,Negeri Sembilan,94,0,0,1,1
5813,2021-07-02,2021-07-02,2021-05-10,2021-05-31,Sinovac,Pahang,70,1,0,1,1
5894,2021-07-03,2021-07-03,2021-05-27,2021-06-17,Sinovac,Johor,83,1,0,1,1
6056,2021-07-04,2021-07-04,2021-05-07,2021-05-28,Pfizer,Selangor,83,0,0,1,1

In [25]:
fvax = df[(df.date_positive - df.date_dose2).dt.days > 13].copy() # keep only those who were infected at least 14 days after dose 2
fvax = fvax[fvax.date == date(2021,9,17)]
fvax.head(10)

,date,date_positive,date_dose1,date_dose2,vaxtype,state,age,male,bid,malaysian,comorb
22734,2021-09-17,2021-09-01,2021-06-15,2021-07-06,Pfizer,Johor,68,1,0,1,1
22735,2021-09-17,2021-09-05,2021-06-16,2021-07-07,Pfizer,Johor,67,1,0,1,1
22741,2021-09-17,2021-09-10,2021-06-20,2021-07-11,Sinovac,Terengganu,77,0,0,1,1
22742,2021-09-17,2021-09-12,2021-06-03,2021-06-24,Sinovac,Terengganu,47,0,0,1,1